:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}
body {
  background-color: #f5f4fa;
  color: var(--text-color);
  font-family: 'Roboto', 'Raleway', 'San-serif';
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* -------------logo----------------- */
.logo {
  color: #000000;
}
.colortext {
  color: #2196f3;
}
.logo,
.colortext {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/*---------------header-------------------------------------------------- -------------------*/

/* ------navigation-site */
.site-nav {
  color: var(--title-text-color);
}
.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* ---------------contacts---- */
.contact {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* ----------------------------------------------hero------------------------------------ */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
/* ------------------------------section-feature--------------------------*/
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
/*-----------------------seaction-work------------- */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* --------------------section-team----------------------------- */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}
/* ------------------------footer----------------------------- */
.footer {
  background-color: #2f303a;
}
.address-work {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}
/* --------------------page PORTFOLIO--------------------------------------------------------------- */

/*----------------- filter --------------*/
.btn-filter {
  font-family: inherit;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.btn-filter:hover,
.btn-filter:focus {
  color: var(--accent-color);
}
/* ----------------section-project------------------------- */
.title-list {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
